<!DOCTYPE html>
<html>

<head>
    <title>AnguarJs SoundManager2 - SoundCloud</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/sb-admin.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="../css/plugins/morris.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="style.css" />
</head>

<body style="background-color: white">
    <div class="container" ng-controller="MainCtrl">
        <div class="row">
            <div class="col-md-12">

                <h5>Songs</h5>
                <ul>
                    <li ng-repeat="song in songs">
                        <button class="btn btn-info" music-player="play" add-song="song">{{ song.title }}</button>
                        <button music-player add-song="song">+</button>
                    </li>
                </ul>

                <button class="btn btn-info" play-all="songs">Play all</button>

            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>

                <p>
                    Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                </p>

                <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
                <br />
                <button play-music class="btn btn-success">Play</button>
                -
                <button pause-music class="btn btn-warning">Pause</button>
                -
                <button stop-music class="btn btn-danger">Stop</button>
                -
                <button repeat-music class="btn btn-default">Repeat ({{ repeat }})</button>
                -
                <button play-pause-toggle data-play="Play!" data-pause="Pause!" class="btn btn-info">Play Toggle</button>

                Is Playing: {{ isPlaying }}
                <br/>
                <br/>Volume: {{ volume }} -
                <button music-volume data-type="increase" class="btn btn-info">+</button>
                -
                <button music-volume data-type="decrease" class="btn btn-info">-</button>
                -
                <button class="btn btn-danger" mute-music>Mute ({{ mute }})</button>
                <br/>
                <br/>
                <button prev-track class="btn btn-info">Prev Track</button>
                -
                <button next-track class="btn btn-info">Next Track</button>
                -
                <button clear-playlist class="btn btn-info">Clear Playlist</button>
                <br/>
                <br/>
                <h5>Playlist</h5>
                <ul>
                    <li ng-repeat="song in playlist">
                        <a play-from-playlist="song">{{ song.title }}</a>
                        -
                        <a remove-from-playlist="song" data-index="{{$index}}">
                            <small>(remove)</small>
                        </a>
                        <span ng-if="currentPlaying.id == song.id"> - (current)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="../dist/angular-soundmanager2.js"></script>
    <script src="app.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins/morris/raphael.min.js"></script>
    <script src="../js/plugins/morris/morris.min.js"></script>
    <script src="../js/plugins/morris/morris-data.js"></script>
</body>

</html>
